<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.andengine.lights"
          android:versionCode="1"
          android:versionName=".01">

    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="17"/>

    <application
            android:label="Andengine Lights">
        <activity                
                android:name="com.andengine.lights.LightsTestActivity"
                android:enabled="true" 
                android:screenOrientation="landscape" 
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|mcc|mnc|layoutDirection|locale|touchscreen|navigation|fontScale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>